.firstdiv {
    color: blue;
}

.seconddiv {
    color: red;
}

#singledot {
    color: green;
    text-decoration: line-through;
}

h3 + ul {
    color: purple;
    border: 4px dotted orange;
}

li a {
    color: brown;
}

li a[href="https://leetcode.com/problems/single-number/solutions/6828548/beginner-freindly-java-c-python-js/"] {
    color: plum;
}

/* Specificity hierarchy:*/

li {
    color: yellow;
}

.firstli {
    color: darkorchid;
}

#secID {
    border: 3px solid black;
}